.searchInput {
    height: 40px;
    background-color: #1f1f1f;
    border: none;
    border-radius: 8px;
    width: 400px;
    color: white;
    padding: 20px;
}
.searchInput:focus {
    outline: none;
}