.searchInput {
    height: 40px;
    border: none;
    background: none;
    width: 100%;
    color: white;
    padding: 20px 10px;
}
.searchContainerDesktop {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 8px;
    width: 400px;
    padding: 0px 10px;
}
.searchInput:focus {
    outline: none;
}